<nav>
    <div class="site-title">
        <a href="/">
            <h1><%= appObject.appName %></h1>
        </a>
        <p>Login And Send Messages For Free</p>
    </div>
    <ul>
      
          <li>
            <a href="/">
              <span> <%= appObject.title[2] %> </span>
            </a>
          </li>
          <li>
            <a href="/new">
              <span> <%= appObject.title[4] %> </span>
            </a>
          </li> 


    </ul>
</nav>